<!DOCTYPE html>
<html ng-app="portal">
<head>
	 <meta charset="UTF-8"> 
	<title>Assinatura</title>
	<!-- 
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
	 <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
	 -->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/angular-1.6.5.min.js"></script>
	<script src="js/angular-animate.min.js"></script>
	<script src="js/angular-sanitize.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>

	<script src="js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    
    
	<script src="assinaturaController.js"></script>
    
	<link href="css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	 
	
	<!-- 
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">R
	 -->
	
</head>
<body>
	<!-- Barra de navegação superior -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Portal da Assinatura</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="assinatura.html">Assinatura</a></li>
					<li><a href="verificacao.html">Verificação</a></li>
					<li><a href="criptografia.html">Criptografia</a></li>
					<li><a href="ajuda.html">Ajuda</a></li>
					<li><a href="sobre.html">Sobre o Portal</a></li>
					<li><a href="login.html">Sair</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Corpo da página -->

	<div id="page-wrapper">
		<div class="container-fluid">
			<!-- Page Heading -->
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Assinatura de Documentos</h1>
				</div>
			</div>
			<div ng-controller="assinatura as $ctrl" class="modal-demo">
				<table width="100%" class="table">
					<tr ng-repeat="linha in linhas">
						<td>
							<div class="row">
								<div class="col-lg-2 text-center">
									<div>
										<button type="button" class="btn btn-danger"
											ng-click="remove($index)">
											<span class="glyphicon glyphicon-trash"></span> Remover
										</button>
									</div>
								</div>
								<div class="col-lg-4 text-center">
									<div>
										<div class="input-group">
											<label class="input-group-btn"> 
												<span class="btn btn-primary"> Procurar&hellip; 
													<input type="file" accept=".pdf, .cms, .xls" style="display: none;" name="{{$index}}" onchange="angular.element(this).scope().fileNameChanged(this)">
												</span>
											</label> 
												<input type="text" class="form-control" ng-model="linha.filecontent" readonly>
										</div>
									</div>
								</div>
								<div class="col-lg-2 text-center" ng-show="linha.filecontent" >
									<div>
										<button type="button" class="btn btn-primary"
											ng-click="$ctrl.politica($index, '', '')">
											<span class="glyphicon glyphicon-cog"></span> Política
										</button>
									</div>
								</div>
							</div>
							<hr>
						</td>
					</tr>
					<tr>
						<td><button class="btn btn-primary btn-md" ng-click="add(indice)">
								<span class="glyphicon glyphicon-plus"></span> ADD
							</button>
							<button class="btn btn-primary btn-md" ng-click="assinar()">
								<span class="glyphicon glyphicon-pencil"></span> Assinar
							</button></td>
					</tr>
				</table>
				<button type="button" class="btn btn-default" ng-click="$ctrl.open()">Open me!</button>
				<div ng-show="$ctrl.selected">Selection from a modal: {{ $ctrl.selected }}</div>
				<div class="modal-parent"></div>
				{{meuarquivo}}
				
				
				<!-- Modal Política -->


				<script type="text/ng-template" id="myModalContent.html">
       <div class="modal-header">
			<!--<button class="close" data-dismiss="modal">&times;</button>-->
            <h3 class="modal-title" id="modal-title">Configurações avançadas de Política</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <p>Nome do arquivo: {{filename}}
			<p>Tipo do arquivo: {{filetype}}
			 <ul class="list-group">
 				<li class="list-group-item {{controllcms}}">
					<div class="radio">
				  		<label><input type="radio" name="radiopolitica" ng-disabled="radiocms">CMS</label>
					</div>
					<label class="radio-inlin"><input type="radio" name="optradiocms" ng-disabled="((radiocms) || (radiopolitica.value=='xls'))">Padrão</label>
					<label class="radio-inlin"><input type="radio" name="optradiocms" ng-disabled="((radiocms) || (radiopolitica))">CADES</label>
				</li>
 				<li class="list-group-item {{controllxls}}">
 					<div class="radio">
				  		<label><input type="radio" name="radiopolitica" ng-disabled="controllxls" ng-model="value" value="xls" ng-change="radiochange(this)">XLS</label>
					</div>
					<label class="radio-inlin"><input type="radio" name="optradioxls" ng-disabled="controllxls">Padrão - atachado</label>
					<label class="radio-inlin"><input type="radio" name="optradioxls" ng-disabled="controllxls">Padrão - desatachado</label>
					<label class="radio-inlin"><input type="radio" name="optradioxls" ng-disabled="controllxls">XADES</label>
 				</li>
 				<li class="list-group-item {{controllpdf}}">
 					<div class="radio">
				  		<label><input type="radio" name="radiopolitica" ng-disabled="radiopdf">PDF</label>
					</div>
					<label class="radio-inlin"><input type="radio" name="optradiopdf" ng-disabled="radiopdf">Padrão</label>
					<label class="radio-inlin"><input type="radio" name="optradiopdf" ng-disabled="radiopdf">PADES</label>
 				</li>
			</ul> 
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
   				</script>
			</div>
		</div>
	</div>

	<!-- Rodapé -->
	<footer class="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>
</body>
</html>